body {
    margin: 0;
    font-family: Arial;
    background-color: #f2f2f2;
}

/* NAVBAR */
.navbar {
    background-color: #111;
    padding: 15px 30px;
    color: white;
    display: flex;
    align-items: center;
}

.navbar h2 {
    margin: 0;
}

/* Center links */
.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}

.nav-links a:hover {
    color: #00bcd4;
}

/* HERO SECTION */
.hero {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

/* Hero buttons */
.hero-buttons {
    margin-top: 30px;
}

.hero-btn {
    display: inline-block;
    padding: 14px 35px;
    margin: 10px;
    border: 2px solid #0a0b42;
    color: #200d42;
    font-size: 18px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.hero-btn:hover {
    background-color: #0e0535;
    color: black;
}

/* CONTENT */
.content {
    padding: 40px;
    text-align: center;
}

/* MEMBERSHIP CARDS */
.card {
    background: white;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    width: 250px;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
